.flight {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 30px 0;

  &__today-day {
    margin: 0 auto;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    width: 100%;
    text-align: center;
  }

  &__no-flight {
    line-height: 47px;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    padding: 15px;
  }
}

.flight-list {
  display: flex;
  padding: 0;
  margin: 0;

  &__item {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    padding: 0 22px;

    &:nth-child(even) {
      background-color: #b0c4de;
    }
  }
}
