.flight-navigation {
  display: flex;
  margin: auto;
  height: 50px;
  width: 100%;
  background-color: #6495ed;
  border-radius: 35px 35px 0 0;

  &__btn {
    height: 52px;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    border-radius: 34px 34px 0 0;
    background-color: #6495ed;
    color: white;
    cursor: pointer;

    &:hover {
      border-radius: 25px 25px 0 0;
      transition: border-radius 0.5s;
    }
  }
}

.active {
  background-color: white;
  color: #6495ed;
}
